*{
    padding: 0px;
    margin: 0px;
}
.main_nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(120, 248, 120);
    width: auto;
    height: 100px;
}
.logo {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}
.cnt{
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: green;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    margin: 10px;
}
.cnt:hover {
 background-color:greenyellow;
}

.main_nav ul {
    display: flex;
    list-style-type: none;
   
}
.main_nav ul li {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    height: 20px;
    text-align: center;
}
.main_nav ul li a {
text-decoration: none;
color: white;
}
.main_nav ul  :hover{
    background-color:  green;
}
.cont{
    display: grid;
    width: 800px;    
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    justify-content: center;
    column-gap: 10px; 
    row-gap: 15px; 
    gap: 15px 10px; 
   
}


.card {
    background-color: #1177b0;
    color: white;
    text-align: center;
    padding: 40px;
    margin: 10px;
    background-image: radial-gradient(#156fa4 1px, transparent 1px);
    background-size: 20px 20px;
    
}

.card img {
    width: 80px;
    margin-bottom: 20px;
}

  .card-text {
    
    font-size: 18px;
}
