*{
    margin:0;
    padding:0;
    
}
#container{
    margin: 0 auto;
    width: 1200px;
    height: 600px;

}
#Header{
background-color: rgb(33, 69, 231);
width: 1200px;

}
#Header h1{
    color: rgb(255, 255, 255);
    padding: 30px;
}
#nav{
background-color: aqua;
width: 1200px;

}
#nav li{
    list-style-type: none;
    text-decoration: none;
    border: 1px solid red;
    float: left;
    background: rgb(43, 226, 95);
    color: white;
    padding: 10px 19px;
  width: 200px;
  text-align: center;  
}
#nav li:hover{
    background-color: black;
    color: white;
}
#content{
    background-color: rgb(108, 24, 187);
    width: 1200px;
}
.leftside{
background-color: tan;
width: 200px;
height: 400px;
float:left;
}
.rightside{
    background-color: blue;
    width: 1000px;
    height: 400px;
    float: left;

}
#footer{

}
