* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.logo{
    width: 150px;
    height: 100px;
    cursor: pointer;
    
}
li a button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    background-color: aqua;
}
.main_nav li {
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px;
    border: 1px solid red;
    border-radius: 50px;
}
.main_nav li a {
    text-decoration: none;
}
button {
    border: 0px;
    border-radius: 50px;
    background-color: rgb(255, 0, 225);
    padding: 9px 25px;
    color: white;
}